<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="Perardi Portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="../favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">


  {{ $style := resources.Get "css/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">


  <meta name="theme-color" content="#cbcdd2">
</head>

<body>

{{ if (isset .Params "isdark") }}
<body class="dark-mode">
{{ else }}
<body>
{{ end }}    

<main>
    <section class="photography">
        <h1>Event Albums</h1>
        <p class="album-intro">Hey. Looking to download photos from some party or the beach or whatever? They are hopefully here.</p>
        <p class="album-intro">If you can <a href="https://www.instagram.com/perardi/">credit my Instagram</a>, go for it, but I don&CloseCurlyQuote;t care all that much.</p>
  </section>


  <div class="album-container">
    <div class="album-backing">
        <img src="../img/photography/DSCF2344.jpg" alt="DJs bringing it">
    </div>

    <div class="album-info">
        <h3><a href="https://photos.app.goo.gl/pbFTQHTnewBafcC98">Queen: Pride Edition, 2022</a></h3>
        <h4>June 26, 2022</h4>
        <p>All-building, 3-floor special Queen event.</p>
    </div>
    </div>

  <div class="album-container">
    <div class="album-backing">
        <img src="../img/photography/DSCF2157.jpg" alt="Pride Stage crowd">
    </div>

    <div class="album-info">
        <h3><a href="https://photos.app.goo.gl/WmrHNvbp2Y9J6fBBA">Pride In The Park: Day 2</a></h3>
        <h4>June 26, 2022</h4>
        <p>Pride In The Park in downtown Chicago.</p>
    </div>
    </div>

  <div class="album-container">
    <div class="album-backing">
        <img src="../img/photography/DSF2082.jpg" alt="Pride Stage crowd">
    </div>

    <div class="album-info">
        <h3><a href="https://photos.app.goo.gl/qDcdTq4f1dY2M8369">Circuit Mom: Love Revolution</a></h3>
        <h4>June 25, 2022</h4>
        <p>Pride party, House of Blues, Chicago.</p>
    </div>
    </div>

    <div class="album-container">
        <div class="album-backing">
            <img src="../img/photography/DSF1374.jpg" alt="Getting crowded">
        </div>
    
        <div class="album-info">
            <h3><a href="https://photos.app.goo.gl/pPvbS87XJ8ncuv6A6">Cerise Rooftop: Pride 2022 Edition</a></h3>
            <h4>June 25, 2022</h4>
            <p>Rooftop afterparty, produced by Organized Grime, at Virgin Hotel, Chicago.</p>
        </div>
        </div>
    

  <div class="album-container">
    <div class="album-backing">
        <img src="../img/photography/DSF0925.jpg" alt="Pepper at Pride In The Park">
    </div>

    <div class="album-info">
        <h3><a href="https://photos.app.goo.gl/A28rcWUfxU4ZmbCU7">Pride In The Park 2022: Day 1</a></h3>
        <h4>June 25, 2022</h4>
        <p>Pride In The Park in downtown Chicago.</p>
    </div>
    </div>

  <div class="album-container">
    <div class="album-backing">
        <img src="../img/photography/DSF0596.jpg" alt="The Vixen at Black Girl Magic, Pride Fest">
    </div>

    <div class="album-info">
        <h3><a href="https://photos.app.goo.gl/Wk5T2XFEmy33BEZTA">Black Girl Magic</a></h3>
        <h4>June 19, 2022</h4>
        <p>Black Girl Magic at Pride Fest.</p>
    </div>
    </div>
</main>


</body>

</html>