<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Bosco Cheat Sheet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="apple-touch-icon" href="icon.png">


  {{ $style := resources.Get "css/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">


  <meta name="theme-color" content="#cbcdd2">
</head>

<body>
   

<main>
  
 
    <section class="bosco">

    {{ with .Resources.ByType "image" }}
    {{ range . }}
    <img class="bosco" src="{{ .RelPermalink }}" loading="lazy" width="2000">
    {{ end }}
    {{ end }}

    {{ .Content }}
 
 

  </section>
</main>

</body>

</html>