<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Chris Perardi | A Designer, I Guess</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="apple-touch-icon" href="icon.png">


  {{ $style := resources.Get "css/main.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">


  <meta name="theme-color" content="#cbcdd2">
</head>

<body>


<main class="home">
  <section class="home">
    <h1 class="home">Hey. I’m Chris Perardi.</h1>
    <h2 class="home">I’m a <a href="resume">UI and graphic designer</a>. I currently design <a href="https://www.wolfram.com">math stuff</a>.</h2>
    <h2 class="home sarcasm">(<a href="photography">Also a photographer</a>. A total dilettante, but still.)</h2>

    <p class="home">
      <a href="mathmode">This</a>
       <a href="physics">is</a>
       <a href="mobile">my</a> portfolio site. I was tempted to go wild&mdash;really mangle your scrolling experience, elaborate single-page transitions, some WebGL background to slam your GPU&mdash;but nah, let’s keep this concise.</p>

    <p class="home">Navigation is down there &darr;.</p>
        </section>
</main>

{{ partial "nav.html" . }}

  

</body>

</html>