<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="apple-touch-icon" href="icon.png">

  <script src="js/jquery-3.6.0.min.js"></script>


  {{ $style := resources.Get "css/main.scss" | toCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">


  <meta name="theme-color" content="#cbcdd2">
</head>

<body>


<main>
  <section class="home">
    <h1 class="home">Hey. I’m Chris Perardi.</h1>
    <h2 class="home">I’m a UI and graphic designer. I currently design <a href="https://www.wolfram.com">math stuff</a>.</h2>
    <h2 class="home sarcasm">(<a href="">Also a photographer</a>. A total dilettante, but still.)</h2>

    <p class="home">This is my portfolio site. I was tempted to go wild&mdash;really mangle your scrolling experience, elaborate single-page transitions, some WebGL background to slam your GPU&mdash;but nah, let’s keep this concise.</p>

    <p class="home sarcasm">(Explicit URLs instead of wild scroll views? Lines under links! Nostalgia! I started on a BBS!)</p>

    <p class="home">Anyways, navigation is down there &darr;.</p>
      
    <p class="home sarcasm">(I do not love it on mobile, but, well, time constraints.)</p>
  </section>
</main>

{{ partial "nav.html" . }}

  

</body>

</html>