@import "normalize.scss";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "components/colors.scss";


@mixin breakpoint($scheme) {
  @if $scheme == dark {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  }
}

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
}


@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

body {
  font-family: 'Archivo', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: $greyBGDark;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;

  &.dark-mode {
    background-color: $greyBGDark;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 1;

    mix-blend-mode: soft-light;
    opacity: 0.5;
    // animation: grain 0.4s steps(1) infinite;
    background-image: url('../img/noise-256w.png');
    display: none;
    @keyframes grain {
      0%,
      100% {
        background-position: 0 0;
      }
      20% {
        background-position: 50% 50%;
      }
      40% {
        background-position: 25% 25%;
      }
      60% {
        background-position: 75% 75%;
      }
      80% {
        background-position: 0% 100%;
      }
    }
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;

  &.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3rem);
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 2rem 0 8rem 0;

    &.home {
      width: clamp(2rem, 80vw, 50rem);
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    &.bosco {
      width: clamp(2rem, 80vw, 50rem);
      align-items: flex-start;
      
      
      
      h3 {
        margin-top: 1.5rem;
        font-size:        clamp(1.25rem, 2vw, 2.5rem); 
      }
    }
}

article {
  width: clamp(2rem, 80vw, 44rem);
  padding: clamp(1.75rem, 3vw, 3rem) 0 clamp(1.75rem, 3vw, 3rem) 0;
}


@import "components/typography.scss";  

@import "components/nav.scss";  

@import "components/resume.scss";  

figure {

  img {
    width:          clamp(2rem, 80vw, 64rem);
    box-shadow:     0 0.5rem 1rem 0 rgba($color: #000000, $alpha: 0.75);
  }

  figcaption {
    width:          clamp(2rem, 80vw, 64rem);
    font-weight:    400;
    font-size:      clamp(0.5rem, 0.75vw, 0.875rem);
    color:          rgba($color: $bodyBlueDark, $alpha: 0.75);
    text-transform: uppercase;
    letter-spacing: 1pt;
    margin-bottom:  0.5rem;
  }

  &.hero {
    background: #fff url('') no-repeat scroll center center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 0 0rem 0;
    box-shadow: 0 0 2rem 0 rgba($color: #000000, $alpha: 0.35);
    overflow: hidden;

    &.plot-hero {
      background: #000 url('../img/mm-bg-wash.jpg') no-repeat scroll center center;
    background-size: cover;
    }

    &.spikey-hero {
      background: #000 url('../img/alpha-bg-wash.jpg') no-repeat scroll center center;
    background-size: cover;
    }

    &.physics-hero {
      background: #000 url('../img/physics-bg-wash.jpg') no-repeat scroll center center;
    background-size: cover;
    }

    &.physics-super-hero {
      background: #000 url('../img/physics-bg.jpg') no-repeat scroll center center;
      background-size: cover;
      padding: 2rem 0;

      img {
        box-shadow: none;
        width: 25%;
        min-width: 12rem;
      }
    }

    .hero-grid-three {
      width:          clamp(2rem, 90vw, 64rem);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 2.5rem 0 0 0;

      .left-hero {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        box-shadow: 0 0 1.5rem 0 rgba($color: #000000, $alpha: 0.75);
      }

      .mid-hero {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        box-shadow: 0 0 1.5rem 0 rgba($color: #000000, $alpha: 0.75);
      }

      .right-hero {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        box-shadow: 0 0 1.5rem 0 rgba($color: #000000, $alpha: 0.75);
      }

      img {
        width: 100%;
        box-shadow: none;
      }

      p {
        margin: 0;
        padding: 2rem 0;
        line-height: 1.2;
        color: $greyBGDark;
        opacity: 0.5;
      }

    }

    .hero-grid {
      width:          clamp(2rem, 90vw, 64rem);
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2.5rem 0 0 0;

      .left-hero {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        box-shadow: 0 0 1.5rem 0 rgba($color: #000000, $alpha: 0.75);

        &.chiral {
          transform: scale(1.1);
        }
      }

      .right-hero {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0 0 2rem 0 rgba($color: #000000, $alpha: 0.75);

        &.chiral {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        box-shadow: none;
      }
    }

    p {
      margin: 0;
      padding: 2rem 0;
      line-height: 1.2;
      color: $greyBGDark;
      opacity: 0.5;
    }
  }

  &.mobile-hero {
    img {
      width:          clamp(2rem, 40vw, 54rem);
      box-shadow: none;
    }
  }

  &.mm-hero {

    img {
      width:          clamp(2rem, 90vw, 54rem);
      box-shadow:     none;
    }

    div {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #68568a;

      img {
        width:          clamp(2rem, 90vw, 54rem);
      box-shadow: none;
      }
    }
  }



  &.physics-shot {
    background: #fff url('../img/physics-bg-wash.jpg') no-repeat scroll center center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0rem 0;
    overflow: hidden;
    box-shadow: 0 0 2rem 0 rgba($color: #000000, $alpha: 0.35);
  }

}

img.gallery {
  width:          clamp(2rem, 80vw, 64rem);
  margin-top:       clamp(1rem, 2vw, 2rem); 
  margin-bottom:    clamp(1rem, 2vw, 2rem); 
  box-shadow:       0 0.5rem 1.5rem 0 rgba($color: #000000, $alpha: 0.25);


}

img.bosco {
  width: 100%;
  margin-top:       clamp(1rem, 2vw, 2rem); 
  margin-bottom:    clamp(1rem, 2vw, 2rem); 
  box-shadow:       0 0.5rem 1.5rem 0 rgba($color: #000000, $alpha: 0.25);
}