article {
    width:                      $containerWidth;
    padding:                    $containerPad 0 $containerPad 0;

    &.resume-intro {
      h3 {
        font-weight:      300;
        line-height:      1.5;
        margin-top:       -0.5rem;
    
        font-size:        clamp(1.125rem, 1.25vw, 1.75rem);  
        padding-top:      clamp(0.25rem, 0.5vw, 0.75rem);
        max-width:        75%;
        font-style:       italic;
        opacity: 0.75;
      }
    }
  
    &.intro {
      padding:                  $containerPad 0 0 0;
      width:                    100%;
      margin-top:               -2rem;
      box-shadow:               0 0 2rem 0 rgba($color: #000000, $alpha: 0.35);
  
      h1 {
        width:                  $containerWidth;
        margin:                 0 auto;
        margin-top:             2rem;
      }
    }
  
    &.math-intro {
      background-color:         #fff;
      height:                   60vh;
      overflow:                 hidden;
      display:                  flex;
      flex-direction:           column;


  
      h1 {
        text-align:             center;
        color:                  $bodyBlueMid !important;
        margin-bottom:          2rem;
      }

      @include breakpoint(baby-bear) {
        height:                  40vh;

        h1 {
            margin-bottom: 0;
        }
      }
    }
  
    // Physics
    &.physics-intro {
      background:               #3b1664 url('../img/physics/physics-bg.jpg') no-repeat scroll top right;
      background-size:          cover;
      height:                   60vh;
      overflow:                 hidden;
      position:                 relative;

      @include breakpoint(baby-bear) {
        height:                   40vh;
      }

      h1 {
          position:             relative;
          z-index:              10;
          color:                #fff;
      }
      

      .universe {
        width:                  $containerWidth;
        position:               absolute;
        left:                   0%;
        height:                 100%;
        top:                    -2rem;

        img {
            height: 130%;
            mix-blend-mode: screen;
            opacity: 0.4;
            animation: rotate 160s linear infinite; 
        }

        @keyframes rotate{
            to{ transform: rotate(360deg); }
          }
          
      }
    }
  
    &.mobile-intro {
      background-color:         #e6e7ec;
      height:                   60vh;
      overflow:                 hidden;
      position:                 relative;

      @include breakpoint(stepmom-bear) {
        height: 40vh;
      }
  
      .sub-container {
        position:               absolute;
        z-index:                0;
        width:                  100%;
        height:                 60vh;
        display:                grid;
        grid-template-columns:  1fr 1fr;

        @include breakpoint(stepmom-bear) {
          height: 60vh;
        }

        @include breakpoint(mama-bear) {
          height: 40vh;
        }

        .left {
          display:              flex;
          flex-direction: row;
          justify-content: flex-end;

          @include breakpoint(baby-bear) {
            grid-column: 2;
            justify-content: flex-end;
            margin-right: -10%;
          }

          .phone-container {
            overflow: hidden;
            height: 45%;
            margin-top: 32.5%;
            margin-right: 5%;
            border-radius: 27px;
            border: 3pt solid desaturate(darken($baseBlue,10%),10%);

            @include breakpoint(mama-bear) {
              border-radius: 16px;
              border: 2pt solid desaturate(darken($baseBlue,10%),10%);
            }
            @include breakpoint(baby-bear) {
              border-radius: 9px;
              border: 2pt solid desaturate(darken($baseBlue,10%),10%);
              margin-top: -10%;
              height: 100%;
            }


            
            aspect-ratio: 0.528;
            background: #000 url('../img/mobile/phone-one.jpg') no-repeat scroll center center;
          background-size: cover;
          transform: rotate(5deg);
          box-shadow: 0 0 1.5rem 0 rgba($greyBGDark, 0.25);

          }
        }

  
        .right {

          @include breakpoint(baby-bear) {
            display: none;
          }
         
          .pad-container {
            overflow: hidden;
            height: 60%;
            margin-top: -1rem;
            border-radius: 32pt;
            border: 4pt solid desaturate(darken($baseBlue,10%),10%);
            aspect-ratio: 3 / 4;
            background: desaturate(darken($baseBlue,10%),10%) url('../img/mobile/pad-one.jpg') no-repeat scroll center center;
          background-size: cover;
          transform: rotate(5deg);
          box-shadow: 0 0 2rem 0 rgba($greyBGDark, 0.25);

          @include breakpoint(mama-bear) {
            border-radius: 24px;
            border: 2pt solid desaturate(darken($baseBlue,10%),10%);
          }
          @include breakpoint(baby-bear) {
            border-radius: 16px;
            border: 2pt solid desaturate(darken($baseBlue,10%),10%);
          }

            img {
              width: 100%;
              display: none;
            }
          }

        }
      }
  
      .container {
        width:                  $containerWidth;
        margin:                 0 auto;
        display:                grid;
        grid-template-columns:  50% 50%;
        justify-items:          stretch;
        align-items:            stretch;
        height:                 100%;
        position:               relative;
        h1 {
          color:                $bodyBlueMid !important;
          width:                auto;
        }
  
        .headliner {
          grid-column:          1 / span 1;

         
        }
      }
  
      
    }
  }

.album-container {
  width: 100%;
  position: relative;
  width: clamp(2rem, 80vw, 50rem);
  aspect-ratio: 3 / 2;
  margin-bottom: 4rem;

  @include breakpoint(baby-bear) {
    width: 100%;
  }

  .album-backing {
    position: absolute;
    background-color: #000;
    width: 100%;
    
    z-index: 0;

    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .album-info {
    width: 50%;
    position: absolute;
    bottom: -2rem;
    right: -2rem;

    @include breakpoint(baby-bear) {
      right: 0;
      width: 75%;
    }
  

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.85);
    -webkit-backdrop-filter: blur(0.45rem) grayscale(90%);
            backdrop-filter: blur(0.45rem) grayscale(90%);

    h3, h4, p, a {
      border: none;
      padding: 0;
      margin: 0;
      font-weight: 300;
      font-size: 1rem;
    }

    h3 {
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 1rem;
      font-style: italic;
      margin-top: auto;
      margin-bottom: 1pt;
    }

    p {
      font-style: italic;
      font-size: 0.75rem;
    }

    a {
      border: none;
      font-size: 1.5rem !important;
      &:after {
        content: "\2197";
        margin-left: 6pt;
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        &:after {
          opacity: 0.85;
        }
      }
    }
  }
}