nav {
    position:               fixed;
    z-index:                10;
    bottom:                 0;
    height:                 clamp(2.75rem, 3.25vw, 3.25rem);
    background-color:       $greyBGNavDark;
    -webkit-backdrop-filter: blur(8pt) grayscale(100%);
    backdrop-filter:        blur(8pt) grayscale(100%);
    width:                  100%;
    display:                flex;
    flex-direction:         row;
    align-items:            center;
    justify-content:        center;
    flex-wrap:              nowrap;

    @include breakpoint(baby-bear) {
      justify-content: flex-start;

      ul {
        &:first-of-type {
          padding-left: 1rem;
        }
        &:last-of-type {
          padding-right: 1rem;
        }
      }
  }
    overflow-x:             auto; 
    gap:                    calc(2rem + 1pt);
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
    display:                none;
    }

    ul {
      display:            flex;
      flex-direction:     row;
      align-items:        center;
      gap:                0.75rem;
      height:             clamp(2.75rem, 3.25vw, 3.25rem);
      position: relative;

      &:last-of-type {
        &:before {
          content: '';
          position: absolute;
          width: 1pt;
          height: 100%;
          left: -1rem;
          background: linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
        }
      }

    

      &.port-links {
        
        span {
          color:        $bodyBlueDark;
          display:        flex;
        flex-direction: row;
        align-items:    center;
          margin-left:  auto;
          text-transform: uppercase;
          line-height:  1;
          font-size:    clamp(0.5rem, 0.75vw, 1rem);
          color:        rgba($color: $bodyBlueDark, $alpha: 0.5);
          letter-spacing: 0.5pt;
        }
      }
  
      li {
        margin:         0;
        line-height:    1;
        display:        flex;
        flex-direction: row;
        align-items:    center;

    

        a {
          margin:           0;
          padding:          0;
          border:           none;
          line-height:      1;
          font-size:        clamp(0.625rem, 1vw, 0.875rem);
          color:            rgba($color: $bodyBlueDark, $alpha: 0.75);
          white-space:      nowrap;
          text-overflow:    ellipsis;

          &:hover {
            border: none;
          }
        }

        &::before {
          display: none;
        }
      }
    }
    
  }