{{ if (isset .Params "isdark") }}
<nav class="dark-mode" role="navigation">
{{ else }}
<nav role="navigation">
{{ end }}    

  
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.meta }}
    <li {{ if $currentPage.IsMenuCurrent "meta" . }}class="active"{{ end }}>
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>

  <ul>
    <span>portfolio:</span>
    {{ $currentPage := . }}
    {{ range .Site.Menus.port }}
    <li {{ if $currentPage.IsMenuCurrent "port" . }}class="active"{{ end }}>
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
        {{ end }}
  </ul>

  </nav>