<div class="arrow rx gx">
    {{ partial "arrow.html" . }}
</div>
    
<div class="arrow rx gx turnt">
    {{ partial "arrow.html" . }}
</div>

<div class="wire-number">
    xx-0.0
</div>

<!--

/*** Comment ****/

-->

<div class="area r41 g7" id="resultsDetails">
    Results (Details)
  </div>
  
  
  

  
  <div class="arrow r41 g8">
    {{ partial "arrow.html" . }}
    </div>
  
    <div class="shot r41 g9">
      <figure class="android-360">
          <img src="../img/android/results/android-results-fav-added-pro-360.png">
          <figcaption>Result (Favorite Added)</figcaption>
      <figcaption><a href="../#">Full details</a></figcaption>
      </figure>
    </div>
  
    <div class="arrow r41 g10">
      {{ partial "arrow.html" . }}
      </div> 
  
      <div class="shot r41 g11">
        <figure class="android-360">
            <img src="../img/android/results/android-results-share-sheet-pro-360.png">
            <figcaption>Result (Favorite Added)</figcaption>
        <figcaption><a href="../#">Full details</a></figcaption>
        </figure>
      </div>
  