<h1><span>Portfolio:</span>
    Wolfram|Alpha Math Mode</h1>
<h2 class="sarcasm">Or, putting more math in your math.</h2>

<p>Wolfram|Alpha is a product that does really quite an astonishing number of things&hellip;but what users truly use it for is math.</p>

<p>And that was a bit of an issue for growing the product. You could enter quite complex mathematical inputs, but they either had to be in “natural language”, which is frankly not that natural when trying to do an integral&hellip;</p>

<p class="mono">integrate sin x dx from x=0 to pi</p>

<p>&hellip;or you could type it in Mathematica/Wolfram Language syntax, which is quite programmer-y. A 4&times;4 matrix would become&hellip;</p>

<p class="mono">[{2, 1, 0, -3}, {3, -1, 0, 1}, {1, 4, -2, -5}]</p>

<p>Which, no, no average user will remember that syntax. Nor, frankly, would a seasoned user of Mathematica, because we have a typesetting palette to help with such things.</p>

<p>And that is where Math Mode <em>(I sure wish we came up with a better name&hellip;)</em> comes in. The project brief, broadly, came down to “let users insert pre-made math templates, and let them select those from iconic previews.”</p>

<h3>Design Thinking</h3>

<p>My overall theme: big, bold, obvious. Not in a condescending way, and not trying to be hip with the kids these days, because I was never hip, and who says hip? No, our audience is students, let’s make this big and bright, give it some real color contrast with the rest of the site to let them know they are in math problem solving mode, and let’s not make it <a href="https://education.ti.com/en/products/calculators/graphing-calculators/ti-89-titanium">look like a TI-89</a>.</p>

<h4>
    <span>design detail</span>
    Icons
</h4>

<p>x</p>

<h4>
    <span>design detail</span>
    Mobile Viewports
</h4>

<p>x</p>

<h4>
    <span>design detail</span>
    Entering Math 0Mode
</h4>

<p>x</p>

<h3>Process Thinking</h3>

<p>This project really benefitted from prototyping, and also creating a color style guide.</p>

<h4>
    <span>process detail</span>
    Prototyping
</h4>

<h4>
    <span>process detail</span>
    Syncing Up Colors
</h4>