<article>
    <h1><span>Portfolio:</span>
        Wolfram|Alpha Math Input</h1>
</article>

<figure class="hero mm-hero">
    <img src="../img/mm-intro.png" alt="Math Input">
    <div>
        <img src="../img/mm-kb.png" alt="Math Input">
    </div>
</figure>

<article>
    <h2>The Project</h2>

    <p class="portfolio-intro"><a href="https://www.wolframalpha.com/tour">Wolfram|Alpha</a> is a product that does really quite an astonishing number of things&hellip;but what users truly do with it is math. Which was an issue for growing the product&mdash;you could enter quite complex mathematical inputs, but they either had to be in “natural language”, which is frankly not that natural when trying to do an integral&hellip;</p>

    <p class="mono">integrate sin x dx from x=0 to pi</p>

    <p class="portfolio-intro">&hellip;or you could type it in Mathematica/Wolfram Language syntax, which is quite programmer-y. A 4&times;4 matrix would become&hellip;</p>

    <p class="mono">[{2, 1, 0, -3}, {3, -1, 0, 1}, {1, 4, -2, -5}]</p>

    <p class="portfolio-intro">Which is simply not user-friendly, especially for the K&ndash;12 market.</p>

    <p class="portfolio-intro">So, Math Input was developed to help users better do their job to be done.</p>
</article>

<figure class="hero plot-hero">
    <div class="hero-grid">
        <div class="left-hero">
            <img src="../img/mm/toggler-tweaks.png" alt="Toggler Tweaks">
        </div>
        <div class="right-hero">
            <img src="../img/mm/vs-code.png" alt="VSCode">
        </div>
    </div>
</figure>

<article>
    <h2>The Goals</h2>

    <ul>
        <li>
            Create an easy-to-use interface for math students to work with templates for common equations in algebra, calculus, matrices, and trigonometry.
        </li>
        <li>
            Give it a little visual zazz to help differentiate it from the existing functionality, and make it look less “technical” and intimidating compared to some math education products.
        </li>
        <li>
            Make it mobile-friendly, as much as possible, but make it <em>extremely</em> usable on smaller laptop viewports for Chromebooks for education.
        </li>
        <li>
            Create a design system that keeps colors coherent and systemitized, for the existing color library has gotten rather Byzantine.
        </li>
    </ul>
</article>

<figure class="hero plot-hero">
    <div class="hero-grid">
        <div class="left-hero chiral">
            <img src="../img/mm/pad-errors.png" alt="Pad Errors">
        </div>
        <div class="right-hero chiral">
            <img src="../img/mm/pad-templates.png" alt="Templates">
        </div>
    </div>
</figure>

<article>
    <h2>The Constraints</h2>

    <ul>
        <li>
            One-man band.
        </li>
    </ul>

    <ul class="constraint-grid">
        <li>Icons</li>
        <li>UX</li>
        <li>Mobile</li>
    </ul>
</article>

<figure class="hero plot-hero">
    <div class="hero-grid">
        <div class="left-hero">
            <img src="../img/mm/toggler-tweaks.png" alt="Toggler Tweaks">
        </div>
        <div class="right-hero">
            <img src="../img/mm/vs-code.png" alt="VSCode">
        </div>
    </div>
</figure>

<article>
    <h2>The Process</h2>

    <ul>
        <li>
            Prototyping, a lot.
        </li>
        <li>
            Contact with internal users.
        </li>
        <li>
            Casual user research.
        </li>
        <li>
            Platform standards research.
        </li>
        <li>
            The phone dpad.
        </li>
    </ul>

</article>