<article>
    <h1><span>Portfolio:</span> Wolfram|Alpha App Redesign</h1>
</article>

<figure class="hero mobile-hero">
    <img src="../img/mobile/mobile-hero.jpg" alt="Math Input">
</figure>

<article>
    <h2>The Project</h2>

    <p class="portfolio-intro">A redesign of the Android and iOS apps for Wolfram|Alpha, with 3 big ideas in mind: a visual refresh, new features, and moving the apps from paid to in-app subscription pricing.</p>
</article>

<figure class="hero spikey-hero">
    <div class="hero-grid">
        <div class="left-hero">
            <p>left</p>
        </div>
        <div class="right-hero">
            <p>right</p>
        </div>
    </div>
</figure>

<article>
    <h2>The Goals</h2>

    <ul>
        <li>
            <strong>Transition from paid app to free-with-IAP model.</strong> x
        </li>
        <li>
            <strong>Debut new features.</strong> x
        </li>
        <li>
            Update navigation patterns.
        </li>

    </ul>
</article>

<figure class="hero spikey-hero">
    <div class="hero-grid">
        <div class="left-hero chiral">
            <p>left</p>
        </div>
        <div class="right-hero chiral">
            <p>right</p>
        </div>
    </div>
</figure>

<article>
    <h2>The Constraints</h2>

    <ul>
        <li>
            Legacy codebase.
        </li>
        <li>
            Limited UX guidance.
        </li>
    </ul>
</article>

<figure class="hero spikey-hero">
    <div class="hero-grid">
        <div class="left-hero">
            <p>left</p>
        </div>
        <div class="right-hero">
            <p>right</p>
        </div>
    </div>
</figure>

<article>
    <h2>The Process</h2>

    <ul>
        <li>
            <strong>Prototyping.</strong> For the camera.</li>
        <li>
            <strong>Automated specs.</strong> Specs have always been the bane of my projects, up until now. Sketch debuted <a href="https://www.sketch.com/collaborate/#developer-handoff">built-in web-based specs</a> for developers as this project got rolling, and it made a huge difference. Far less painful manual documentation, and no “oh no I didn&rsquo;t upload the most recent version to Zeplin” issues.
        </li>
    </ul>
</article>