<h1>Portfolio: Wolfram Physics Project</h1>
<h2 class="sarcasm">Or, that time we came up with a new kind of science during a pandemic.</h2>

<p>“It’s time to publish my new fundamental theory of physics.”</p>

<p>Oh, gosh, I don’t even know if I can begin to come up with a coherent summary of the content of this project. I have a not particularly bright high schooler’s grasp of general and special relavity, quantum mechanics, the Standard Model, and computability, but when the boss said we’re detailing a new theory of physics, you fake it until you make it. So this is about&hellip;cellular automata&hellip;and growth from initial conditions&hellip;math stuff. Regardless, my job was to present it.</p>

<p>Also we’re going to do the bulk of this work during the first most chaotic months of the pandemic, as the entire company and world transitioned to work from home, and also I couldn’t buy paper towels. But, we managed.</p>

<h3>Design Thinking</h3>

<p>x</p>

<h3>Process Thinking</h3>